name: Tests

on: [push, pull_request, workflow_dispatch]
on:
  pull_request:
  push:
  workflow_dispatch:
  schedule:
    - cron: '43 5 1 * *'

permissions:
  contents: read

jobs:
  mitmtest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - run: bash tests/mitmtest.sh
